
.view-home-page-slider {
	background: #474a4d;
	border-radius: .25em;
	box-shadow: .125em .125em .5em .125em #CCC /*inset*/;
	color: #FFF;
	line-height: 1;
	margin: auto;
	margin-bottom: 1.5em;
	max-width: 682px;
	overflow: hidden;
}

.view-home-page-slider .view-content a:link,
.view-home-page-slider .view-content a:visited {
	background: none;
	color: #f29a0d;
}

.view-home-page-slider .view-content a:active,
.view-home-page-slider .view-content a:hover {
	background: none;
	color: #3bf;
}

.view-home-page-slider .view-content h4 {
	margin: .25em 1em;
}

.view-home-page-slider .view-content p {
	margin: 0.25em 1em;
	min-height: 5em;
}

.view-home-page-slider .view-footer {
	padding-bottom: 0.25em;
	text-align: center;
}

.view-home-page-slider .views-row {
	margin: 0;
	position: relative;
}

.view-home-page-slider .views-field-edit-node {
	font-size: 80%;
	margin: 0.25em 1em;
	padding: 0 0.125em;
	position: absolute;
		top: 0;
		right: 0;
}

.view-home-page-slider .views-slideshow-controls-bottom {
	margin-bottom: 2px;
	text-align: center;
}

.view-home-page-slider .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
	display: inline-block;
	max-width: 19%;
	overflow: hidden;
}

.view-home-page-slider .views-slideshow-controls-bottom .views-slideshow-pager-field-item:not(.active) {
	opacity: 0.25;
	filter: alpha(opacity=25); /* For IE8 and earlier */
}


@media (max-width:767px) {
	
	.view-home-page-slider .views-slideshow-controls-bottom {
		display: none !important;
	}
	
}


@media (max-width:512px) {
	
	.view-home-page-slider .view-content .views-field-title,
	.view-home-page-slider .view-content .views-field-edit-node,
	.view-home-page-slider .view-content .views-field-body {
		display: none !important;
	}
	
	.view-home-page-slider .views-slideshow-cycle-main-frame {
		height: auto !important;
	}
	
}


@media (min-width:512px) {
	
	.view-home-page-slider .views_slideshow_cycle_main {
		float: none !important;
	}
	
	.view-home-page-slider .views-slideshow-cycle-main-frame {
		height: auto;
		overflow: hidden !important;
	}
	
	.view-home-page-slider .views_slideshow_slide[style*="display: block;"][style*="opacity: 1;"],
	.view-home-page-slider .views_slideshow_slide[style*="display: block;"][style*="z-index: 6;"] {
		height: auto !important;
		position: relative !important;
	}
	
}
