
.node-document .field-name-created {
	margin-left: 1em;
}

.node-document .field-name-field-document {
	margin-top: 1em;
	text-align: center;
}

.node-document .flatline {
	font-size: 1.125em;
}

.node-document .flatline .field-label {
	background: #F5DAA3;
	border: 1px solid #CCC;
	border-corner-shape: bevel;
	border-bottom-right-radius: 2em 1em;
	border-top-right-radius: 2em 1em;
	box-shadow: 0.0625em 0 0.0625em 0 rgba(0, 0, 0, 0.25);
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.125em;
	padding-right: 0.75em;
}

.node-document object {
	border-radius: 0.25em;
}
