
.webform-client-form .webform-component.webform-container-inline > div,
.webform-client-form .webform-component.webform-container-inline > input {
	margin: 0em -1px;
	padding: .25em 2%;
	width: 60%;
}

.webform-client-form .webform-component.webform-container-inline > label {
	margin: 0em;
	margin-right: 2%;
	padding: .25em 0%;
	text-align: right;
	width: 33%;
}

.webform-client-form .webform-component.webform-container-inline > .description {
	margin: 0em;
	margin-left: 35%;
	padding: .25em;
	text-align: right;
	width: 64%;
}

.webform-client-form .webform-component-date select {
	margin: 0em -1px;
	padding: .25em 0%;
	text-align: right;
	width: 20%;
}

.webform-client-form .webform-component-number input,
.webform-client-form .webform-component-number label {
	margin: 0em -1px;
	padding: .25em 0em;
	text-align: right;
	width: 40%;
}

.webform-client-form .webform-component-radios .form-radios > div {
	margin: 0em .5em;
}

.webform-client-form .webform-component-radios .form-type-radio code {
	background-color: #F5DAA3;
	/*margin-left: -2em;*/
	padding: 0.125em 0.25em;
}

.webform-client-form > div {
	text-align: center;
	vertical-align: top;
}

.webform-client-form > div > fieldset {
	display: inline-block;
	margin: 1em 2%;
	max-width: 45%;
	text-align: left;
	vertical-align: top;
}

.webform-client-form fieldset > legend {
	line-height: 1.25;
}

#webform-component-payment--charge--credit-expire .form-item-submitted-payment-charge-credit-expire-day {
	display: none;
}


@media (max-width:767px) {
	
	.webform-client-form > div > fieldset {
		max-width: 98%;
		width: auto;
	}
	
}


@media (max-width:419px) {
	
	.webform-client-form .webform-component.webform-container-inline > div,
	.webform-client-form .webform-component.webform-container-inline > input {
		width: 56%;
	}
	
	.webform-client-form .webform-component.webform-container-inline > label {
		width: 28%;
	}
	
}
